{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'homepage/css/styles.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'homepage/images/main.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block mainmenu %}
    <div class="header">
        <ul id="mainmenu" class="mainmenu">
        <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
    {% if not forloop.last %}
        <li><a href="#">{{ m.capitalize}}</a></li>
    {% else %}
        <li class="last"><a href="#">{{ m.capitalize }}</a></li>
    {% endif %}
{% endfor %}

        </ul>
        <div class="clear"></div>
    </div>
{% endblock mainmenu %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
    <tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="left-chapters" >
		<li class="selected">Все категории</li>
		<li><a href="#">Новости интерфакса</a></li>
		<li><a href="#">Конференции</a></li>
		<li><a href="#">Погода</a></li>
		</li>
	</ul>
</td>
<!-- Конец Sidebar'а -->

        <!-- Основной контент -->
        <td valign="top" class="content">
            <h1>Заголовок страницы</h1>
            <p>Основное содержимое страницы здесь...</p>
        </td>
    </tr>
</table>

{% block content %}
{% endblock content %}
<!-- Конец Основного контента -->

<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p> Сайт создан в качестве учебного материала</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->

</body>
</html>



