{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'homepage/css/style.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'homepage/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block mainmenu %}
    <div class="headler">
        <ul id="mainmenu" class="mainmenu">
        <li class="logo"><a href="#"><div class="logo"></div></a></li>
{% for m in menu %}
    {% if not forloop.last %}
        <li><a href="#">{{ m.title }}</a></li>
    {% else %}
        <li class="last"><a href="#">{{ m.title }}</a></li>
    {% endif %}
{% endfor %}

        </ul>
        <div class="clear"></div>
    </div>
{% endblock mainmenu %}

{% block content %}
{% endblock content %}

</body>
</html>



